# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


Links/Deploy Your React App To Heroku - DEV Community 👩-💻👨-💻.url
Links/https---react-bootstrap.github.io-components-navbar-.url
Links/ReactJS - Build a Responsive Navigation Bar & Side Drawer Tutorial - YouTube.url
Links/javascript - ReactJS get XMLHttpRequest not working - Stack Overflow.url
Links/May 16/Handling Events – React.url
Links/May 16/Passing Functions to Components – React.url
Links/May 16/javascript - How to set iframe content of a react component - Stack Overflow.url
Links/May 16/Rendering to iFrames in React - Ryan Seddon - Medium.url
Links/May 16/reactjs - integrating js code inside react component - Stack Overflow.url
Links/May 16/Refs and the DOM – React.url
rehanhajee/HowToRun
rehanhajee/.env
