/*CSS file for Conclusion.jsx*/

.conclusion {
    padding: 2% 0 5% 2%;
    background-color: #f8f8f8;
}

.Laravel {
	color: red;
}

.React {
	color: blue;
}

.conclusion-text {
    font-size: 22px;
    text-align: justify;
}

h1, h2 {
    text-align: center;
}