/*CSS file for Credits.jsx*/

.background {
	background-image:linear-gradient(to bottom, #fb503b, #61dafb);
}

.credits {
    padding: 2% 0 5% 2%;
    background-color: #f8f8f8;
}

.Laravel {
	color: red;
}

.React {
	color: blue;
}

.title {
    padding: 0 0 5% 0;
}

.credits-text {
    font-size: 22px;
    text-align: justify;
}


h1, h2 {
    text-align: center;
}