/*CSS for CustomNavbar.js*/

.Nav {
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
}

a.navbar-brand {
    font-size: 30px;
	text-decoration:none;
    color:#005377;
}

.menuItem {
	color:#00a284;
	font-size: 20px;
	width: 12%;
}
/*responsive styling*/


@media only screen and (min-width:764px) and (max-width: 880px) {
    .navbar-header {
        float: none;
    }
	.navbar-brand {
		color:#ffffff;
	}
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1) !important;
        color: black;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}




