@charset "utf-8";

body {
	font-family:"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-align:justify;
	background:#D4D4D4;
	margin: 0;
	padding: 10px;
	font-size: 20px;
}

footer {
	width:99%;
	padding-left:10px;
	bottom:0;
}

header {
	display: inline-block;
}
main {
	width:100%;
	padding: 20px;
}

h3 {
	text-align:left;
	margin: 0;
}

#forecast {
	text-align: center;
}

.forecast {
	display:inline-block;
	text-align:center;
	border: 1px solid black;
	margin-bottom: 10px;
	margin-right: 1vw;
	margin-left: 1vw;
	width: 250px;
}

#currentTemp {
	font-size: 30px;
}

#currentTime {
	margin: 0;
}

.c1, .c2, .c3, .search {
	padding: 10px;
}

.center {
	text-align:center;
}

.container {
	margin: 10px;
	width:100%;

	display: flex;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	
}

.container div {
	box-sizing:border-box;
}

.c1, .c2, .c3 {
	width: 100%;
}

.search {
	float:right;
	width: 100%;
	text-align:right;
}

.title {
	color:#300CE8;
	text-shadow:4px 2px 10px #BBBBBB;
	width:100%;
	margin-bottom:0;
	margin-top:0;
}

.searchBar {
	float:right;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 2px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/*Breakpoint 1*/
@media (min-width:400px) {
	
	header {
		text-align:center;
	}

	.c1, .c2 {
		width:100%;
		text-align:center;
	}
}

/*Breakpoint 2*/
@media (min-width:725px) {
	.container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	header {
		text-align:left;
	}
	
}

/*Breakpoint 3*/
@media (min-width:1050px) {
	
	.container {
		display:flex;
		margin-left:auto;
		margin-right:auto;
	}
	
	header {
		width: 100%;
	}
	
	.title {
		font-size:40px;
	}
	
	.c1 {
		width: 30%;
	}

	.c2 {
		width: 70%;
	}

	.c1, .c2 {
		text-align: left;
	}


}

/*Breakpoint 4*/
@media (min-width:1400px) {
	.container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	search {
		float:right;
	}
}
