<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About Me | CPS630 Lab 1</title>
<link rel="stylesheet" type="text/css" href="lab1StyleSheet.css" /> 
</head>

<body>
	<header>
		<h1 class="title"><a href="index.html">About Me</a></h1>
		
		<nav class="center">
			<a href="index.html">About Me</a> |
			<a href="technologyNews.html">Technology News</a> |
			<a href="netflixArticle.html">Top News Story</a>
		</nav>
	</header>

	<div class="container">
		<main>
			<article>
				<figure>
					<img src="img/profilePicture.jpg" class="profilePic">
				</figure>
				Hi everyone! My name is Rehan Hajee, and I am a third year Computer Science full-time student at Ryerson University. I am currently 20 years old, and I also have an older sister who is a year older than me. Ever since 10th grade, I have always had a passion for programming, and decided to persue a computer science post-secondary program.
			</article>
		</main>
	</div>

	<footer> © 2019, Rehan Hajee<br /><br /></footer>
  
</body>
</html>
