@charset "utf-8";

body {
	font-family:"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	text-align:justify;
	background:#D4D4D4;
	margin-left:0;
	margin-bottom:0;
}

a {
	text-decoration:none;
}

a:hover {
	color:blue;
	text-decoration:underline;
}

div>a, nav>a {
	color:#45A694;
	transition-property:transform 1s;
}

nav>a {
	font-size:18px;
	font-weight:bold;
	padding:5px;
}

nav>a:hover {
	background-color:#45A694;
	color:#F3B571;
}

article, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
	background-color:#AFB5FA;
	border:3px solid blue;
	margin:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
}

aside {
	float:right;	
	width:40%;
	padding-left:1rem;
	margin-left:1rem;
}

h2>b>u {
	padding:5px;
	color: #A2294B;
	border:5px dashed red;
}

header, footer {
	background-color:#F3B571;
	width:100%;
	padding:3px;
}

header {
	position:fixed;
	top:0;
	display:block;
}

footer {
	bottom:0;
}

h4, h5 {
	display:inline;
}

section>aside {
	float:right;
}

section {
	padding-bottom:20px;
}

table {
	border:1px solid black;

}

.articleFigure, .newsTopStory, .newsStory1, .newsStory2 {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	float:inherit;
	box-shadow:5px 5px 5px gray;
}

.articleFigure {
	width:50%;
}

.newsStory1, .newsStory2, .newsStory3, .newsTopStory {
	margin:10px;
	margin-right:0
}

.newsStory1, .newsStory2, .newsStory3 {
	display:flex;
	float:right;
}

.newsStory1 {
	width:25%;
}

.newsStory2 {
	width:65%;
}

.newsStory3 {
	width:60%;
}

.newsTopStory {
	display:flex;
	float:right;
	width:100%;
}

.title {
	color:#300CE8;
	text-shadow:4px 2px 10px #BBBBBB;
	width:100%;
	margin-bottom:0;
	margin-top:0;
	padding-left:5px;
}

.center {
	text-align:center;
}

.image {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	float:inherit;
	box-shadow:5px 5px 5px #AAAADD;
}

.caption {
	margin:auto;
	text-align:center;
	word-wrap:normal;
	font-style:italic;
}

.container {
	margin-top:85px;
	margin-bottom:5px;
	
	width:100%;

	display:-webkit-flex;
	
	-webkit-flex-flow:row wrap;
	
}

.container div {
	box-sizing:border-box;
}

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
	width:100%;
}

.nA2 {
	width:40%;
}

.nA1 {
	width:100%;
}

.nA2 {
	text-align:left;
}

.profilePic {
	display:flex;
	margin-left:auto;
	margin-right:auto;
	border-radius:50%;
	width:50%;
}

/*Breakpoint 1*/
@media (min-width:400px) {
	.container {
		margin-top:85px;
	}
	
	nav, .title {
		text-align:center;
	}
	
	.nA1, .nA2 {
		text-align:center;
	}
	
	.nA1 {
		width:100%;
	}
	
	.nA2 {
		width:95%;
		border-top:3px dashed #A6A1A1;
		border-bottom:3px dashed #A6A1A1;
	}
	
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
		width:100%;
		text-align:center;
	}
}

/*Breakpoint 2*/
@media (min-width:725px) {
	.container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
		text-align:left;
	}
	
	.c1, .c2, .c3, .c4, .c5, .c6 {
		width:100%;
	}
	
	.c7, .c8, .c9, .c10 {
		width:48%;
		height:10rem;
	}
	
	.c8, .c10 {
		margin-right:0.5%;
		margin-left:0.1%;
	}
	
	.c7, .c9 {
		margin-left:0.5%;
	}
	
	.nA1 {
		text-align:justify;
	}
	.nA2 {
		text-align:left;
		border-top:none;
		border-bottom:none;
		border-left:3px solid #A6A1A1;
		float:right;
		width:20%;
		font-size:20px;
	}
	.nA1 {
		width:80%;
	}
	.newsTopStory {
		width:40%;
	}
	.title {
		text-align:left;
	}
	
	nav {
		text-align:right;
	}
}

/*Breakpoint 3*/
@media (min-width:1050px) {
	nav {
		text-align:center;
	}
	
	.container {
		display:flex;
		margin-top:95px;
		margin-left:auto;
		margin-right:auto;
		align:center;
	}
	
	.nA1 {
		width:100%;
	}
	
	.c1, .c2, .c4, .c5, .c6, .c7, .c8, .c9, .c10 {
		text-align:left;
	}
	
	.c3 {
		text-align:justify;
	}
	.title {
		font-size:40px;
	}
	
	.c1, .c2 {
		width:48%;
	}
	
	.c2 {
		margin-right:0.5%;
		margin-left:1.8%;
	}
	
	.c1 {
		margin-left:0.5%;
	}
	
	.c3 {
		width:99%;
		margin-left:0.5%;
		margin-right:0.5%;
		height:30rem;
	}
	
	.c4, .c5, .c6 {
		margin-right:0.5%;
		width:32%;
		height:20rem;
	}
	
	.c4 {
		margin-left:0.5%;
	}
	
	.c5 {
		margin-right:0.8%;
		margin-left:0.8%;
	}
	
	.c7, .c8, .c9, .c10 {
		margin-right:0.5%;
		margin-left:0.5%;
		width:24%;
	}
}

/*Breakpoint 4*/
@media (min-width:1400px) {
	.container {
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
	
	.c8, .c9, .c10 {
		margin-right:0.5%;
		width:32%;
		height:20rem;
	}
	
	.c8 {
		margin-left:0.5%;
	}
	
	.c9 {
		margin-right:0.8%;
		margin-left:0.8%;
	}
	
	.c4, .c5, .c6, .c7 {
		margin-right:0.5%;
		margin-left:0.5%;
		width:24%;
	}
}
