<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Netflix raised prices because you all are signing up like crazy | CPS630 Lab 1</title>
<link rel="stylesheet" type="text/css" href="lab1StyleSheet.css" /> 
</head>

<body>

	<header>
		<h1 class="title"><a href="index.html">Technology News</a></h1>
		<nav>
			<a href="index.html">About Me</a> |
			<a href="technologyNews.html">Technology News</a> |
			<a href="netflixArticle.html">Top News Story</a>
		</nav>
	</header>

	<div class="container">
		<main>
			<article class="nA1">
				<section>
				<h1>Netflix raised prices because you all are signing up like crazy</h1>
				<h4>The hikes were the first leg of a victory lap. Now 80 million households have watched Bird Box, too.</h4>
				<h5>BY: JOAN E. SOLSMAN | JANUARY 17, 2019 4: 41 PM PST | CNET</h5>
				
				<figure>
					<img src="img/Birdbox.jpg" class="articleFigure" alt="Bird Box screen cap">
					<figcaption class="caption">Netflix's Bird Box was watched by 45 million accounts in its first week on the streaming service.</figcaption>
				</figure>
				
				<section>If you want to blame anyone for <a href="https://www.netflix.com/">Netflix</a> raising prices, look to all the newbs who are signing up in droves. </section>
				<section>The streaming video service reported that more people signed up in the last three months of 2018 than any other quarter ever, and it predicted even more new members in the first quarter of 2019. The company added 8.84 million new paid members, according to its end-of-year financial report Thursday. That's better than the 7.6 million it'd predicted in October.</section>
				<aside class="nA2">
					<br />
					<section>The current prices for Netflix services in Canada: </section>
					<b>Basic: </b>$9.99
					<br />
					<b>Standard: </b>$13.99
					<br />
					<b>Premium: </b>$16.99
					<br /> <br />
				</aside>
				<section>Netflix tends to end every year on an upswing, as people on holiday breaks spend extra time streaming and those who received new gadgets as gifts start setting them up by adding services like Netflix. But this time, Netflix had already issued a couple of particularly positive signals about how business was faring.</section>
				<section>Last month, the company said Bird Box, its post-apocalyptic thriller starring Sandra Bullock, was watched by 45 million accounts in the first seven days it was available, the best viewership for one of its original movies yet. And Tuesday, Netflix announced price hikes. The prospect of a higher monthly bill wasn't welcome news for consumers, but investors reacted with glee, and analysts interpreted it as Netflix flexing its muscles in the middle of a hot streak. </section>
				<section>Netflix doubled down on viewership disclosures Thursday. Bird Box has now been watched by more than 80 million member households in four weeks, the company said, adding that the movie was getting "high repeat viewing." Looking ahead, Netflix expects You -- a thriller series about a bookish stalker, which struggled to find an audience when it aired on Lifetime -- to surpass 40 million households in its first four weeks, and it predicts Sex Education, a British series that Netflix is distributing globally, to reach more than 40 million in the first four weeks too.</section>
				<section>The eternal caveat about Netflix numbers like these? They're not independently verified. Nielsen offers some ratings for Netflix programs, which it figures with its own system of measurement that leaves out any viewing on mobile devices and doesn't count people watching outside the US. Nielsen's initial Bird Box numbers supported the general case that the movie was widely popular, though.</section>
				<section>And Netflix's definition of a view carries different meaning for a movie versus a show. Netflix counts a movie as viewed once an account watches 70 percent of the total runtime, including credits. But for shows, Netflix credits the title with a view if an account gets through 70 percent of the total runtime of a single episode. </section>
				<section>But Ted Sarandos, Netflix's head of content, defended the worth of the stats Thursday. </section>
				<section>"These are less financial metrics as they are cultural metrics," he said. "For part of your Netflix subscription, you're in the zeitgeist. You're watching the programming that the rest of the world is loving at the same time."</section>
				<section>The company also relished a competitive jab at YouTube, Google's massive video site that Netflix's CEO Reed Hastings routinely admits envying for the 1.9 billion people who use it every month. </section>
				<section>"When YouTube went down globally for a few minutes in October, our viewing and signups spiked for that time," the company said Thursday.
				<section>Netflix shares fell Thursday, after they spiked two days earlier on news of the price increase. Shares were down 2.6 percent at $344 in after-hours trading. </section>
				<section>In its latest results, Netflix's international subscriber base increased by 7.3 million paid members to 80.77 million, beating the 6.1 million additions the company predicted. In the US, Netflix added 1.53 million paid streaming customers, for a total of 58.49 million, slightly topping its 1.5 million guidance.</section>
				<section>Netflix is switching focus on how it reports its subscribers this year. While investors previously kept watch on Netflix's number of total streaming members, which includes trial memberships, this year the company will make predictions only about paid memberships. By directing focus away from figures that include free trials, Netflix hopes its subscriber numbers won't seem as lumpy as they have in the past. </section>
				<section>Looking ahead, Netflix expects to add 1.6 million paid streaming members in the US and 7.3 million internationally in the current quarter. Netflix also predicted 56 cents per share in earnings. On average, Wall Street analysts who track Netflix expected 83 cents.</section>
				<section>Overall, Netflix reported a profit of $133.9 million, or 30 cents a share, compared with $185.5 million, or 41 cents a share, a year earlier. Revenue rose 27 percent to $4.19 billion.</section>
				<section>Analysts on average expected per-share profit of 24 cents -- a penny higher than Netflix's forecast -- and $4.21 billion in revenue.</section>
				<section>Source: <a href="https://www.cnet.com/news/netflix-raised-prices-because-you-all-are-signing-up-like-crazy/">CNET</a></section>
			</article>
		</main>
	</div>
	<footer>© 2018, Rehan Hajee<br /><br /></footer>
</body>
</html>
