<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Technology News | CPS630 Lab 1</title>
<link rel="stylesheet" type="text/css" href="lab1StyleSheet.css" /> 
<!-- <link rel="stylesheet" type="text/css" href="test.css" /> -->
</head>

<body>

	<header>
		<h1 class="title"><a href="index.html">Technology News</a></h1>
		
		<nav>
			<a href="index.html">About Me</a> |
			<a href="technologyNews.html">Technology News</a> |
			<a href="netflixArticle.html">Top News Story</a>
		</nav>
	</header>
  
	<div class="container" role="main">
		
		<div class="c1">
			<figure>
				<img src="img/airpods.jpg" class="newsStory1">
			</figure>
			<h4>Apple’s next AirPods will support hands-free ‘Hey Siri’ voice commands</h4>
			<br /><br />
			<h4><a href="https://www.theverge.com/2019/1/24/18196566/apple-new-airpods-2019-hey-siri-ios-12-rumor">Read this story</a></h4>
		</div>
		
		<div class="c2">
			<figure>
				<img src="img/whatsapp.jpg" class="newsStory1">
			</figure>
			<h4>WhatsApp Bug Reported That Allows a Stranger to Read Your Messages.</h4>
			<br /><br />
			<h4><a href="https://inews.co.uk/news/technology/whatsapp-bug-lets-stranger-read-messages/">Read this story</a></h4>
		</div>
	
		<div class="c3">
			<h2 class="center"><b><u>TOP STORY:</u></b></h2>
			<figure>
				<img src="img/Birdbox.jpg" class="newsTopStory">
			</figure>
			<h1>Netflix raised prices because you all are signing up like crazy</h1>
			<h3>Netflix's Bird Box was watched by 45 million accounts in its first week on the streaming service. If you want to blame anyone for Netflix raising prices, look to all the newbs who are signing up in droves. The streaming video service reported that more people signed up in the last three months of 2018 than any other quarter ever, and it predicted even more new members in the first quarter of 2019. The company added ... <a href="netflixArticle.html">Continue Reading</a></h3>
		</div>
		
		<div class="c4">
			
			<figure>
				<img src="img/motorolaRAZR.jpg" class="newsStory2">
			</figure>
			<h2>Motorola patent teases a RAZR-like phone with a foldable display</h2>
			<br /><br />
			<h4><a href="https://www.engadget.com/2019/01/21/motorola-razr-foldable-phone-patent/?ncid=txtlnkusaolp00000618">Read this story</a></h4>
			
		</div>
		
		<div class="c5">
			<figure>
				<img src="img/googleHQ.jpg" class="newsStory2">
			</figure>
			<h2>Google Cracks Down on Apps That Want Access to Your Text and Call Logs</h2>
			<h4><a href="https://www.cnet.com/news/google-cracks-down-on-apps-that-want-access-to-your-sms-and-call-logs/">Read this story</a></h4>
		</div>
		
		<div class="c6">
			<figure>
				<img src="img/5Gtechnology.jpg" class="newsStory2">
			</figure>
			<h2>FCC Wraps Up Its First 5G Auction With Nearly 3,000 Licenses Won</h2>
			<h4><a href="https://www.cnet.com/news/fcc-wraps-up-its-first-5g-auction-with-nearly-3000-licenses-won/">Read this story</a></h4>
		</div>
		
		<div class="c7">
			
			<figure>
				<img src="img/amazon.jpg" class="newsStory3">
			</figure>
			<h4>Amazon is taking more control over smart home tech</h4>
			<br /><h5><a href="https://www.theverge.com/2019/1/24/18196463/amazon-zigbee-alliance-board-smart-home-tech-control">Read this story</a></h5>
		</div>
		
		<div class="c8">
			
			<figure>
				<img src="img/googleExpress.jpg" class="newsStory3">
			</figure>
			<h4>Google Express no longer works with Walmart</h4>
			<br /><br />
			<h5><a href="https://www.engadget.com/2019/01/24/google-express-no-longer-works-with-walmart/?ncid=txtlnkusaolp00000618">Read this story</a></h5>
		</div>
		
		<div class="c9">
			<figure>
				<img src="img/wirelessCharging.jpeg" class="newsStory3">
			</figure>
			<h4>Get Ready to Never Need a Cable to Charge Your Phone Again.</h4>
			<br />
			<h5><a href="https://qz.com/1532536/smartphones-will-soon-have-no-holes-and-only-charge-wirelessly/">Read this story</a></h5>
		</div>
		
		<div class="c10">
			<figure>
				<img src="img/essentialAndroidApps.jpg" class="newsStory3">
			</figure>
			<h4>12 Essential Apps For Any Android Phone</h4>
			<br /><br /><br />
			<h5><a href="https://www.popsci.com/essential-apps-android-phone?dom=prime&src=syn">Read this story</a></h5>
		</div>
	</div>
	
	<footer>© 2018, Rehan Hajee<br /><br /></footer>
</body>
</html>
