<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title id="pageTitle"></title>

		<link rel="stylesheet" type="text/css" href="css/lab2StyleSheet.css" /> 

	</head>

	<body>	
		<div class="search" >
			Search for a city: <input type="text" id="cityName">
			<button onclick="getCity()">Go</button>
		</div>
		<header>
			<h2 id="currentTime"></h2>
			<h1 id="city" class="title"></h1>
		</header>
		<div class="container" role="main">
			<div class="c1">
				<div class = "toggle">
					&#176;C &nbsp;&nbsp; &#176;F
					<br />
					<label class="switch" >
						<input type="checkbox" id="tempToggle">
						<span class="slider round"></span>
					</label>
				</div>
				<section id="currentTemp"></section>
				<section id="currentWeatherImg"></section>
				
			</div>
			<div class="c2">
				<section id="currentWeatherType"></section>
				<section id="currentWind"></section>
				<section id="currentMin"></section>
				<section id="currentMax"></section>
				<section id="currentHumidity"></section>
			</div>
			<div class="c3">
				<section id="forecast"></section>
			</div>
		</div>
		<footer> © 2018, Rehan Hajee<br /><br /></footer>
		<script src="js/lab2.js"></script>
	</body>
</html>
