/*CSS file for Installation.jsx*/

.installation {
    padding: 5% 2% 5% 2%;
    background-color: #f8f8f8;
}

.installation-text {
    font-size: 22px;
    text-align: justify;
}


.Laravel {
	color: red;
}

.React {
	color: blue;
}

h1, h2 {
    text-align: center;
}

