<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

<title>Movie List</title>

<link rel="stylesheet" type="text/css" href="movieStyleSheet.css" /> 

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="angular.min.js"></script>

</head>

<body>
<div ng-app="myApp" ng-controller="movieCtrl"> 

	<header>
		<h1 class="title">Movie List</h1>
	</header>

	<form>
		Select Language:
		<select ng-model="language">
			<option value="English and Hindi">English and Hindi</option>
			<option value="English">English</option>
			<option value="Hindi">Hindi</option>
		</select>
		<br>
		<input type="text" id="mySearchInput" onkeyup="filter('mySearchInput',0)" placeholder="Search for a movie name..">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		Enter a Year:
		<input type="text" id="myYearInput" onkeyup="filter('myYearInput', 1)">
	</form>
		
	<table id="myTable" >
		<tr>
			<th>Name</th>
			<th>Year</th>
			<th>Location</th>
		</tr>
		<tr ng-repeat="x in myData | orderBy:'Name'| orderBy:'-Year'" ng-if="language.indexOf(x.Language) != -1">
			<td>{{ x.Name }}</td>
			<td align="center">{{ x.Year }}</td>
			<td>{{ x.Location }}</td>
		</tr>
	</table>

	<footer> © 2019, Rehan Hajee<br /><br /></footer>
</div>


<script>

var app = angular.module('myApp', []);
app.controller('movieCtrl', function($scope) {
  $scope.myData=data;
  $scope.number=3;
  $scope.language="English and Hindi";
});

function filter(id, index) {
	let input = document.getElementById(id).value.toUpperCase();
	
	let tr = document.getElementById("myTable").getElementsByTagName("tr");
	for (let i = 0; i < tr.length; i++) {
		let td = tr[i].getElementsByTagName("td")[index];
		if (td) {
			let txtValue = td.textContent || td.innerText;
			tr[i].style.display = txtValue.toUpperCase().indexOf(input) > -1 ? "" : "none";
		}       
	}
}

</script>

<script src="movieList.js"></script>
</body>
</html>