/*CSS file for About.jsx*/

.about {
    padding: 2% 0 5% 2%;
    background-color: #f8f8f8;
}

.about-text {
    font-size: 22px;
    text-align: justify;
}

.code {
	font-family: courier new;
}

.strengths {
	color:blue;
}

.weaknesses {
	color: red;
}

.underline {
  border-bottom: 4px solid currentColor;
  display: inline-block;
  line-height: 0.85;
}

h1 {
  line-height: 1;
  text-align: centre;
}

 h2 {
    text-align: centre;
}

p {
    padding: 5% 5% 2% 5%;
    font-size: 20px;
    text-align: justify;
}