@charset "utf-8";

body {
	font-size: 20px;
}

select {
	font-size: 14px;
	padding: 12px;
	border: 1px solid #ddd;
	margin-bottom: 10px;
}

select, tr {
	background-color: white;
}

table, th , td  {
	border: 2px solid #1F497D;
	border-collapse: collapse;
	padding: 5px;
}

table {
	width: 100%;
}

table td:nth-child(1) {
	width: 65%;
}

table td:nth-child(2) {
	width: 10%;
}

table td:nth-child(3) {
	width: 25%;
}

td {
	padding-left: 10px;
	padding-right: 10px;
}

th {
	background: #4BACC6;
	color: white;
	padding: 20px;
	text-decoration:underline;
	text-align:center;
}

.title {
	color:teal;
	text-shadow: 5px 6px 10px #999999;
	margin-top:10px; 
	margin-bottom:10px;
	padding-left:5px;
}

#mySearchInput, #myYearInput {
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

#mySearchInput {
	background-image: url('../images/searchicon.png');
	background-position: 5px 5px;
	background-repeat: no-repeat;
	font-size: 18px;
}

#myYearInput {
	font-size: 14px;
	padding: 10px;
	width: 75px;
}
